{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">

<h1>Meeps!</h1>
<br/>
<div class="alert alert-light" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {% if meep.user.profile.profile_image  %}
        
                <img src="{{meep.user.profile.profile_image.url}}" width=100 height=100 class="rounded-circle" alt="{{profile.user.username}} ">
                    {% else %}
                <img src="{% static 'images/twitter-avi-gender-balanced-figure.png' %}" width=100 height=100  class="rounded-circle" alt="Profile Picture">
                {% endif %}
            </div>
            <div class="col-11">
    {{ meep.body }}</br>
    {% if meep.video %}
    <video width="320" height="240" controls>
        <source src="{{ meep.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% else %}
    No video available.
{% endif %}
</br>
    <small class="text-muted">
        {{meep.created_at}} By 
        @{{meep.user.username}}
        - {{meep.number_of_likes}} Likes - 
        
        {% if user in meep.likes.all %}
        
        <a href="{% url 'meep_like' meep.id %}"><i class="fa-solid fa-heart" style="color:red"></i>
        </a>
        {% else %}
        <a href="{% url 'meep_like' meep.id %}">
<i class="fa fa-heart-o" style="color:red"></i>
        </a>
        {% endif %}
</small>
</div><br/><br/>
</div>
</div>
</div>
   

{% if form %}
<form method=POST enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}

<button type ="submit" class="btn btn-secondary">Edit Meep!</button>
</form>
{% endif %}   
</br></br></br>
</div>

{% endblock  %}