{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container text-center">
    <div class="row">
        <div class="col-8">

<h1>Meeps!</h1>
<br/>
<div class="alert alert-light" role="alert">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {% if meep.user.profile.profile_image  %}
        
                <img src="{{meep.user.profile.profile_image.url}}" width=100 height=100 class="rounded-circle" alt="{{profile.user.username}} ">
                    {% else %}
                <img src="{% static 'images/twitter-avi-gender-balanced-figure.png' %}" width=100 height=100  class="rounded-circle" alt="Profile Picture">
                {% endif %}
            </div>
            <div class="col-11">
    {{ meep.body }}</br>
    {% if meep.video %}
    <video width="320" height="240" controls>
        <source src="{{ meep.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% else %}
    No video available.
{% endif %}
</br>
    <small class="text-muted">
        {{meep.created_at}} By 
        @{{meep.user.username}}
        - {{meep.number_of_likes}} Likes - 
        
        {% if user in meep.likes.all %}
        
        <a href="{% url 'meep_like' meep.id %}"><i class="fa-solid fa-heart" style="color:red"></i>
        </a>
        {% else %}
        <a href="{% url 'meep_like' meep.id %}">
<i class="fa fa-heart-o" style="color:red"></i>
        </a>
        
        {% endif %}
         <!-- Icon for adding a reply -->
 <div class="add-reply-icon">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
</div>

<form class="add-reply-form" method="post" action="{% url 'create_reply' meep.id %}" style="display: none;">
    {% csrf_token %}
    <textarea name="reply_body" placeholder="Your reply"></textarea>
    <button type="submit">Reply</button>
</form>
</small>
</br></br>



<div class="replies" >
    {% for reply in meep.replies.all %}
        <div class="reply">
            <div>
                <img src="{{ reply.user.profile.profile_image.url }}" width="50" height="50" class="rounded-circle" alt="{{ reply.user.username }}">
                <span>{{ reply.user.username }}</span>
                <span class="text-muted">{{ reply.created_at }}</span>
            </div>
            <div>{{ reply.body }}</div>
        </div>
        <hr class="dropdown-divider">
    </br>
    {% endfor %}

</div>



</div><br/><br/>
</div>
</div>
</div>
   



<div class="col-4">
    <script>
        $(document).ready(function() {
            $('.add-reply-icon').click(function(event) {
                event.preventDefault();
                $(this).closest('.alert').find('.add-reply-form').slideToggle();
            });
        });
    </script>
</br></br></br>
{% endblock  %}